* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Source Sans 3', 'Arial';
}

nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #f17228;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header .menu-icon {
  display: none;
  height: 30px;
  width: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo span {
  font-family: 'Source Sans 3', 'Arial';
  color: #f17228;
  font-weight: 700;
  font-size: 32px;
}

.logo span .yellow-text {
  color: #ffb30e;
}

.middle-section {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-family: 'Source Sans 3', 'Arial';
}

.middle-section .text-light {
  font-weight: 400;
}

.middle-section img {
  margin-left: 12px;
  margin-right: 9px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn .input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn .input-group input {
  outline: none;
  border: none;
  padding: 10px 0px;
  width: 110px;
}

.btn .input-group input::placeholder {
  font-weight: 700;
  color: #424242;
  font-size: 16px;
}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  background-color: #ffffff;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  color: linear-gradient(to right, #ffb800 0%, #ff8a00 100%);
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 #ffae0080, 0 20px 40px 0 #ffae0070;
}

.btn button .gradient-text {
  background: linear-gradient(to right, #ffb800 0%, #ff8a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  
}

@media (max-width: 768px) {
  body {
    padding: 0 12px;
  }

  .header .menu-icon{
    display: block;
  }

  .middle-section {
    display: none;
  }

  .btn {
    display: none;
  }
}
.hero{
  /* height: 300px; */
  width: 100%;
  background-color: #f1bb28;
  padding-bottom: 132px;
  padding-left: 150px;
  
  }
  .ht1{
    font-size: 88px;
    font-weight: 700;
    color: #F5F5F5;
  }
  .ht2{
    font-size: 22px;
    font-size: 400;
    
  }
  
  
    

  .dc {
    color: #f17228;
  }
 .pickup {
  color: #757575;
 }
 .cardtitle {
  font-size: 18px;
  font-weight: 700;
  color:rgba(117, 117, 117, 1);
 } 
.ordercard{
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
  border-radius: 8px;
  width: 50%;
  flex-direction: column;
  margin-top: 50px;
  
}
.tab1{
  display: flex;
  gap: 10px;
  padding: 10px 24px;
  align-items: center;
  background-color: rgba(241, 114, 40, 0.1);
}
.active {
  color: rgba(241, 114, 40, 1);
}
.input_group {

  background-color: rgba(245, 245, 245, 1);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  

}
.placeholder {
  border: none;
  background-color: rgba(245, 245, 245, 1);
  font-size: 18px;
  flex-grow: 1;
}
.location2 {
  height: 34px;
  width: 18px;
  
}


.button{
  border: none;
  background-color: rgba(255, 122, 122, 1);
  width: 199px;
  height: 60px;
  padding:10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.food {
  font-size: 18px;
  font-weight: 700;
  background-color: none;
  border: none;
  background-color: rgba(255, 122, 122, 1);
  color: rgba(255, 255, 255, 1);
}
.search2 {
  height: 18px;
  
  
}
.email_section{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
 

.chips {
  display: flex;
  gap: 10px;
}
.removebg{
  background-color: transparent;

}
.line{
  background-color:rgba(238, 238, 238, 1);
  border: none;
  height: 0.5px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.bowl {
  position: absolute;
  right: 30%;
  top: 50%px;
  height: 497px;
  width: auto;
}